@use "./variables" as v;

body {
    background-color: v.$body-background;
    color: v.$primary;
}

button {
    background-color: v.$button-background;
    color: v.$white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.card {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
    background-color: v.$white;
    border: solid 1px v.$border-color;
    border-radius: 4px;
    color: v.$primary;
    padding: 20px;

    &:focus,
    &:hover {
        background-color: v.$hover-color;
    }
}
